<div class="row padding-top margin-bottom">
<div class="id-panel columns small-12">
<div class="card">
	<div class="id-panel-name" style="text-align: justify;">
		<h2>{{loc-x '/menu/about'}}</h2>
<p>
Személyes tapasztalaink alapján azt találtuk, hogy manapság nagyon nehéz jó és megbízható bébiszittert találni.<br>
Mindenki életében a gyermeke a legnagyobb kincs akit nem bíz rá akárkire.<br>
Mindezzel együtt elkerülhetetlen, hogy napi ügyeinket feladatainkat  megoldjuk a gyerekek mellett és nem mindíg úgy történnek a dolgok ahogy az nekünk ideális. 
<br><br>
Az oldal célja, hogy összehozza a szülőket és a Bébiszitteri munkát vállalókat.
<br>
<br>
<b>De miért más és mitől működik?</b>
<br>
Attól, hogy megnézzük, hogy kit ajánlunk és a szülöket is megkérjük, hogy egy-egy találkozó után írják meg véleményüket és pontozzák a bébiszittert, ezzel segítenek a többi szülönek. 
<br>
<b>Miért jó a bészitternek</b>
Rátalálnak ... bla bla bla


<br><br>
Gyerekünket nem bízzuk rá akárkire, általában ismerősők ismerősei ajánlanak egy egy jó bébiszittert akit nagyon neház elérni és összeegyeztetni a saját igényeinkel és időbosztásunkkal. 
az, hogy segítsen megtalálni a számunkra ideális bébiszittert. 
<br><br>
<img src="/assets/images/howto/search_on_map.png" alt="Search for one" style="float:left;max-width:220px">
<b>Megnézzük, hogy kit ajánlunk</b>
Az itt megtalálható bébiszitterek átesnek egy elsőkörös ellenörzésen amit mi az oldal üzemeltetői végzünk. <br>
Ez az ellenörzés a megjelölt személyi adatok valóságtartalmára és a kapcsolatfelvételre vonatkozik. A bébiszitterek referenciáit ellenőrizzük és az a bébiszitter adatlapján láthatóvá tesszük. 
<br>
A megvalósult szülő bébiszitter találkozók után arra kérjük a kedves szülőt, hogy véleményezze a bészittert, hogy ezáltal a többi szülönek is segítséget nyújtson a keresésben. 
<br><br>





<br><br>
<a href="#" class="small button" {{action 'jumpToSignup'}}>{{loc-x '/menu/signup'}}</a>
</p>
	</div>
</div> 
</div>
</div>