<div class="row">
	<div class="small-12 columns">
		<div class="small-12 columns">
		<h4>Goolge login</h4>
		</div> 			
		<div class="alert-box {{if done 'success' 'alert'}}">
		{{{message}}}
		</div>
	</div> 				
</div>
