<div class="row padding-top margin-bottom">
<div class="id-panel columns small-12">
<div class="card">
	<div class="id-panel-name" style="text-align: justify;">
		<h2>{{loc-x '/menu/privacy'}}</h2>
<p>
a <b>bbsitter.hu</b> honlaprendszerhez tartozó PUBLIKUS, azaz bárki számára 
elérhető weboldalakhoz
</p>
<br>
<h4>
Az Adatkezelő neve és címe:
</h4>
<h5>
Domostatic Bt.<br>
Postacím: 1118 Budapest, Regős köz 2 6em. 28<br>
Adatkezelési nyilvántartási azonosítója:<br>
E-mail cím: info@<b>bbsitter.hu</b><br>
Telefonszám: +36-204308879<br>
</h5>
<p>

Az adatkezeléssel kapcsolatos tájékoztatás:<br>

Az adatkezeléssel kapcsolatos tájékoztatást tartalmazó Adatvédelmi 

nyilatkozat a <b>bbsitter.hu</b> rendszerhez tartozó összes weboldalról elérhető.

Az adatkezelés Adatvédelmi nyilatkozatban nem részletezett, illetve nem 

szabályozott részleteire az Információs önrendelkezési jogról és az 

Információszabadságról szóló 2011. évi CXII. törvény (a továbbiakban Isztv.) 

rendelkezései az érvényesek. Az Isztv. megtalálható a szabad hozzáférésű 

jogtárakban, többek között a www.magyarorszag.hu oldalon is.

Ha az érintettek (a továbbiakban érintettek, vagy Felhasználók) személyes 

tájékoztatása lehetetlen vagy aránytalan költséggel járna, a tájékoztatás 

megtörténhet az itt felsorolt információk nyilvánosságra hozatalával is: a) az 

adatgyűjtés ténye, b) az érintettek köre, c) az adatgyűjtés célja, d) az 

adatkezelés időtartama, e) az adatok megismerésére jogosult lehetséges 

adatkezelők személye, f) az érintettek adatkezeléssel kapcsolatos jogainak és 

jogorvoslati lehetőségeinek ismertetése, valamint g) ha az adatkezelés 

adatvédelmi nyilvántartásba vételének van helye, az adatkezelés nyilvántartási 

száma, kivéve a 68. § (2) bekezdésében foglalt esetet.

A kezelt adatokat az Adatkezelő és az Adatfeldolgozó erre a feladatra kijelölt 

munkatársai az Isztv. előírásainak betartásával megismerhetik és kezelhetik.
</p>
<br>
<h4>
Funkcionális adatkezelés
<br>
Az adatkezelés jogalapja:
</h4>
<p>
Az adatkezelés jogalapja az Isztv. alapján az érintett önkéntes hozzájárulása. 

A személyes hozzájárulás alapján megadott személyes adatok addig 

számítanak személyes adatnak, amíg az adat kapcsolata az érintettel 

helyreállítható.

A személyes adatok kezelhetők abban az esetben is, ha az érintett 

hozzájárulásának beszerzése lehetetlen, vagy aránytalan költséggel járna, és 

a személyes adat kezelése az adatkezelőre vonatkozó jogi kötelezettség 

teljesítése miatt szükséges, és/vagy az adatkezelő vagy harmadik személy 

jogos érdekének (igényének) érvényesítése céljából szükséges, és ezen érdek 

(igény) érvényesítése a személyes jog korlátozásával arányban áll.

Az Isztv. 3. §.-a tartalmazza az Adatvédelmi nyilatkozatban használt és 

hivatkozott fogalmak jelentését, magyarázatát (Értelmező fogalmak). 
</p>
 
<h4>
Az adatkezelés módja:
</h4>
<p>
Az adatkezelés a <b>bbsitter.hu</b> internetes rendszerhez tartozó publikus 

honlapokon abban az esetben történik, ha a Felhasználó egyes adatait 

megadja. A rendszer alapfunkcióinak használatához adatmegadás nem 

szükséges, de egyes funkciók használatának (pl. bejegyzés írásának) 

feltétele, hogy a Felhasználó legyen regisztrálva és bejelentkezve, vagy ha 

nem regisztrált Felhasználó kívánja az adott funkciót használni, akkor a 

bejegyzés előtt adja meg egyes adatait. A bejegyzéshez szükséges eseti 

adatszolgáltatás, illetve a regisztráció esetében a regisztrációkor történő 

adatmegadás önkéntes, az adatkezelés a Felhasználó előzetes tájékozódáson 

alapuló, határozott hozzájárulása alapján történik. 
</p>
<br>
<h4>
A kezelt adatok köre:
</h4>
<p>
Az eseti Felhasználó által kötelezően megadandó adatok: 

A magát regisztrálni kívánó Felhasználó által kötelezően megadandó adatok: <br>

email, cím, jelszó, dátum, időpont. Ezen adatok kerülnek felhasználásra 

Hírlevelek küldése esetén is.

A regisztráció során önkéntesen megadható további adatok: telefonszám, 

születési dátum, ország, város, azonosító (egyedi, a fórum célcsoportjára 

jellemző besorolás, pl. kamarai regisztrációs szám, és avatarkép (a 

Felhasználó által szabadon választott azonosítókép). 

A <b>bbsitter.hu</b> internetes rendszerhez tartozó nyitott, azaz publikus fórumokon 

megadott személyes adatok -a nicknév, fénykép és név kivételével,- a 

Felhasználók számára nem láthatók, és nem elérhetők.

A Felhasználó tudomásul veszi, hogy az általa feltöltött képek, 

dokumentumok. linkek (url címek) tárolási helyének közvetlen elérhetőségi url-

je, annak külső helyre történő belinkelésével kívülről is közvetlenül elérhetővé 

válik, így a Felhasználó által feltöltött kép, dokumentum és url cím a nem 

regisztrált tagok és külső látogatók számára is elérhető.

A szolgáltatás használata során rögzítésre kerül a Felhasználó 

számítógépének IP-címe, a látogatás kezdő és befejező időpontja, illetve 

egyes esetekben — a Felhasználó számítógépének beállításától függően — a 

böngésző és az operációs rendszer típusa. Ezen adatokat a rendszer 

automatikusan naplózza, de a naplófájlban található adatokat nem kapcsolja 

össze egyéb személyes adatokkal.

 
</p>
<br>
<h4>
Az adatkezelés célja:
</h4>
<p>
A Felhasználó által kötelezően megadott adatok esetében az adatok 

kezelésének célja a Felhasználó jogosultságának az ellenőrzése, az 

illetéktelen és rosszindulatú Felhasználók kiszűrése, valamint a megrendelt 

szolgáltatás (értesítések) kiküldésének biztosítása, továbbá a <b>bbsitter.hu</b> 

rendszer működését meghatározó jogi alapokkal (Adatvédelmi nyilatkozat, 

Felhasználási feltételek, jogszabályi háttér), és azok esetleges változásával 

kapcsolatos tájékoztatás.

A Felhasználó által önkéntesen megadott adatok kezelésének a célja 

internetes közösség kialakítása és a felhasználók azonosítása a 

regisztrációhoz kötött, illetve prémium funkciók használatához szükséges 

adatok kezelése.

A Felhasználó döntése alapján az általa megadott nem személyes adatok 

(bejegyzések, hozzászólások, képek, dokumentumok, linkek) kezelésének a 

célja az adatok publikussá tétele, azaz az adatok elérésének a biztosítása a 

szolgáltatásban nem regisztrált internet felhasználók számára, továbbá az 

adatok elérésének és megjelenítésének biztosítása az Internetes 

keresőmotorok (Google, Yahoo, Bing, stb.) számára.

A Felhasználó önkéntes döntése alapján megadott személyes, közösségi 

tevékenységhez kapcsolódó adatok esetében az adatkezelés célja internetes 

közösség kommunikációjának elősegítése, digitális tartalommegosztás, a 

felhasználók által megélt tapasztalatok átadása, egymás segítése, önkifejezés 

és a megadott információkban történő kereshetőség lehetőségének 

biztosítása, valamint a Felhasználó tájékoztatása a honlapon való saját 

tevékenységével (Bejegyzések) kapcsolatos információkkal (pl. nézettség, új 

hozzászólások, kapcsolatfelvételi kérelem stb.), vagy a honlappal kapcsolatos 

tudnivalókkal (pl. Adatvédelmi nyilatkozat, Felhasználási feltételek 

változásával) kapcsolatban.

Az Adatkezelő és Adatfeldolgozó a megjelölt céloktól eltérő célra a személyes 

adatokat nem használja, azonban jogosult azokat az Adatkezelő és/vagy 

Adatrögzítő által kezelt más adatbázisokkal összekapcsolni. Személyes 

adatokat harmadik személyeknek csak a Felhasználó előzetes tájékoztatásán 

alapuló egyértelmű hozzájárulása esetén ad át. Ez nem vonatkozik az 

esetleges, törvény alapján előírt, kötelező adattovábbításokra.

A <b>bbsitter.hu</b> internetes rendszer Adatkezelője, és Adatfeldolgozója fenntartja 

magának a jogot arra, hogy a kötelezően megadandó, és önkéntesen 

megadott személyes és nem személyes adatokat és információkat statisztikai 

célokra felhasználja.

</p>
<br>
<h4>
Az adatkezelés időtartama:
</h4>
<p>
A Felhasználó által kötelezően megadott adatok esetében az adatkezelés a 

regisztrált felhasználók esetében addig tart, amíg a Felhasználó regisztrációja 

általa, vagy az Adatkezelő, Adatfeldolgozó által törlésre nem kerül. Eseti 

felhasználók esetében az adatkezelés időtartama addig tart, amíg az eseti 

Felhasználó az adatainak törlését nem kéri. (Amennyiben a Felhasználó 

önkéntes döntése alapján az adatok törlését kéri, az Adatkezelő és az 

Adatfeldolgozó a törlésre vonatkozó igény beérkezésétől számított 5 

munkanapon belül törli az adatokat.) A Felhasználó adatainak a kezelése 

általánosságban addig tart, ameddig azt az adatkezelés célja indokolja.

Amennyiben a Felhasználó által megadott adatok nem valósak, 

megtévesztőek, jogellenesek, vagy azokkal törvényt sértenek, illetve 

bűncselekményt követnek el, az adatokat megadó Felhasználó regisztrációját 

az Adatkezelő és az Adatfeldolgozó a Felhasználási Feltételekben biztosított 

módon a az összes megadott személyes adattal együtt azonnal törölheti.

Az Adatkezeő illetve az Adatfeldolgozó a Felhasználási Feltételekben 

meghatározott feltételek esetén átmenetileg korlátozhatja a szolgáltatás 

igénybevételét Felhasználó számára. Ebben az esetben adattörlésre nem 

kerül sor.
</p>
<br>
<h4>
Cookie-kal kapcsolatos adatkezelés
</h4>
<p>
A szolgáltatás használata során a naplófájlban rögzítésre kerülő adatok 

esetében az adatok tárolása kizárólag technikai és statisztikai célokat szolgál. 

Az anonim látogatót azonosító jelsorozat (cookie, süti) önmagában semmilyen 

módon nem képes az ügyfelet, azaz a látogatót beazonosítani, csak a látogató 

gépének felismerésére alkalmas.

Az információs önrendelkezési jogról és az információszabadságról szóló 

2011. évi CXII. törvény 20. § (1) bekezdése alapján, meg kell határozni a 

weboldal cookie adatkezelése körében a következőket:<br>

a) az adatgyűjtés ténye,<br>

b) az érintettek köre,<br>

c) az adatgyűjtés célja,<br>

d) az adatkezelés időtartama,<br>

e) az adatok megismerésére jogosult lehetséges adatkezelők személye,<br>

f) az érintettek adatkezeléssel kapcsolatos jogainak ismertetése.<br>
<br>

Az adatkezelés ténye, a kezelt adatok köre: egyedi azonosítószám, dátumok, 

időpontok

Az érintettek köre: A weboldalt látogató valamennyi érintett.

Az adatkezelés célja: a felhasználók azonosítása, a „naptár” nyilvántartására 

és a látogatók nyomon követése.

Az adatkezelés időtartama, az adatok törlésének határideje: Az adatkezelés 

időtartama a session cookie-k a regisztráció befejezéséig tart.

Az adatok megismerésére jogosult lehetséges adatkezelők személye: A 

személyes adatokat az adatkezelő munkatársai kezelhetik, a fenti alapelvek 

tiszteletben tartásával.

 Az érintettek adatkezeléssel kapcsolatos jogainak ismertetése: Az érintettnek 

lehetőségük van a cookie-kat törölni a böngészők Eszközök/Beállítások 

menüjében általában az Adatvédelem menüpont beállításai alatt.

Az adatkezelés jogalapja: Az érintettől hozzájárulás nem szükséges, 

amennyiben a cookie-k használatának kizárólagos célja az elektronikus 

hírközlő hálózaton keresztül történő közléstovábbítás vagy arra az előfizető 

vagy felhasználó által kifejezetten kért, az információs társadalommal 

összefüggő szolgáltatás nyújtásához a szolgáltatónak feltétlenül szüksége 

van.

A weboldal látogatottsági adatait a Google Analytics szolgáltatás 

igénybevételével méri a Szolgáltató. A szolgáltatás használata során adatok 

kerülnek továbbításra. A továbbított adatok az érintett azonosítására nem 

alkalmasak. A Goggle adatvédelmi elveiről bővebb információ itt 

olvasható:http://www.google.hu/policies/privacy/ads/
</p>
<br>
<h4>
Hírlevél küldés
</h4>
<p>
Hírlevéllel, reklámlevéllel kapcsolatos adatkezelés az Iszrt. szabályozása 

szerint történik. A Felhasználó a <b>bbsitter.hu</b> rendszer által automatikusan 

küldött egyedi saját tevékenységgel kapcsolatos hírlevelekre vonatkozó 

igényét a saját profilban található űrlapon be- és kikapcsolhatja, a csoportos 

hírlevelek a Felhasználó írásos kérése esetén, annak beérkeztet követően 

nem kerülnek kiküldésre. 

A gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól 

szóló 2008. évi XLVIII. törvény 6. §-a értelmében érintett előzetesen és 

kifejezetten hozzájárulhat ahhoz, hogy Adatkezelő reklámajánlataival, egyéb 

küldeményeivel a regisztrációkor megadott elérhetőségein (pl. elektronikus 

levélcím, vagy telefonszám) megkeresse.

Továbbá érintett a jelen tájékoztató rendelkezéseit szem előtt tartva 

hozzájárulhat ahhoz, hogy Adatkezelő a reklámajánlatok küldéséhez 

szükséges személyes adatait kezelje.

Adatkezelő nem küld kéretlen reklámüzenetet, és érintett korlátozás és 

indokolás nélkül, ingyenesen leiratkozhat az ajánlatok küldéséről. Ebben az 

esetben Adatkezelő minden - a reklámüzenetek küldéséhez szükséges - 

személyes adatát törli nyilvántartásából és további reklámajánlataival nem 

keresi meg az érintettet. Érintett a reklámokról leiratkozhat az üzenetben lévő 

linkre kattintva.

Adatkezelő a hozzájáruló nyilatkozat hiányában is jogosult nem direkt 

marketing levélnek minősülő, úgynevezett rendszerüzenetet küldeni 

érintettnek.

Az információs önrendelkezési jogról és az információszabadságról szóló 

2011. évi CXII. törvény 20. § (1) bekezdése alapján, meg kell határozni a 

hírlevél-küldés adatkezelése körében a következőket:

a) az adatgyűjtés ténye,<br>

b) az érintettek köre,<br>

c) az adatgyűjtés célja,<br>

d) az adatkezelés időtartama,<br>

e) az adatok megismerésére jogosult lehetséges adatkezelők személye,<br>

f) az érintettek adatkezeléssel kapcsolatos jogainak ismertetése.<br>
<br>
Az adatkezelés ténye, a kezelt adatok köre: név, e-mail cím, dátum, időpont.

Az érintettek köre: A hírlevélre feliratkozó valamennyi érintett.

Az adatkezelés célja: reklámot tartalmazó elektronikus üzenetek küldése az 

érintett részére, tájékoztatás nyújtása az aktuális információkról, termékekről, 

akciókról, új funkciókról stb.

Az adatkezelés időtartama, az adatok törlésének határideje: a hozzájáruló 

nyilatkozat visszavonásáig, azaz a leiratkozásig tart az adatkezelés.

Az adatok megismerésére jogosult lehetséges adatkezelők személye: A 

személyes adatokat az adatkezelő munkatársai kezelhetik, a fenti alapelvek 

tiszteletben tartásával.

Az érintettek adatkezeléssel kapcsolatos jogainak ismertetése: Az érintett 

bármikor, ingyenesen leiratkozhat a hírlevélről.

Az adatkezelés jogalapja: az érintett önkéntes hozzájárulása, az Infotv. 5. § (1) 

bekezdése, és a gazdasági reklámtevékenység alapvető feltételeiről és egyes 

korlátairól szóló 2008. évi XLVIII. törvény 6. § (5) bekezdése:

A reklámozó, a reklámszolgáltató, illetve a reklám közzétevője – a 

hozzájárulásban meghatározott körben - a náluk hozzájáruló nyilatkozatot tevő 

személyek személyes adatairól nyilvántartást vezet. Az ebben a 

nyilvántartásban rögzített - a reklám címzettjére vonatkozó - adat csak a 

hozzájáruló nyilatkozatban foglaltaknak megfelelően, annak visszavonásáig 

kezelhető, és harmadik fél számára kizárólag az érintett személy előzetes 

hozzájárulásával adható át.
</p>
<br>
<h4>
A személyes adatok törlése:
</h4>
<p>
A felhasználó saját, önkéntesen vagy kötelezően megadott személyes 

adatainak törlésére vonatkozó igényét e-mailben az info@<b>bbsitter.hu</b> címre 

kell eljuttatni. Az adatok a törlési igény beérkezésétől számított 5 munkanapon 

belül törlésre kerülnek. Az adatok törlése esetén a megjelenített adatok nem 

állíthatóak helyre.

A Felhasználó által megadott nem személyes adatok és információk a 

személyes adatok törlését követően is elérhetők lesznek, de az ezen adatokat 

létrehozó Felhasználóra utaló nicknév és avatar a személyes adatok törlését 

követően nem lesznek láthatók.
</p>
<br>
<h4>
Az adatkezelési szabályzat módosításának lehetősége:
</h4>
<p>
Az Adatkezelő és Adatfeldolgozó fenntartja a jogot, hogy jelen Adatkezelési 

Szabályzatot a felhasználók előzetes értesítése mellett egyoldalúan 

módosítsa. A Felhasználó a szolgáltatás további, a módosítás hatálybalépését 

követő használatával a módosított adatkezelési szabályzatot elfogadja.
</p>
<br>
<h4>
A felhasználók jogai személyes adataik kezelésével kapcsolatban:
</h4>
<p>
Személyes adatai kezeléséről a Felhasználó tájékoztatást kérhet. Az 

Adatkezelő a kérés beérkezését követő 8 munkanapon belül tájékoztatást ad a 

Felhasználónak az általa kezelt adatokról, az adatkezelés céljáról, 

jogalapjáról, időtartamáról, az Adatfeldolgozó nevéről, címéről (székhelyéről) 

és az adatkezeléssel összefüggő tevékenységéről, továbbá arról, hogy kik és 

milyen célból kapják vagy kapták meg az adatokat. A tájékoztatás iránti 

kérelmet e-mailben az info@<b>bbsitter.hu</b> címre kell eljuttatni. A felhasználók 

kérhetik adataik törlését, az adatkezelés időtartama pont alatt 

meghatározottak szerint.

 
</p>
<br>
<h4>
A Felhasználók kötelezettsége, és általuk megadott adatokkal 
kapcsolatos felelősség:
</h4>
<p>
A Felhasználók, az általuk megadott adatok esetében kötelesek a személyes 

adatok védelemre, és a szerzői jogra vonatkozó szabályokat betartani, 

különös tekintettel a szabadon választható adatok (nicknév, avatarkép) 

esetében.

A Felhasználók tudomásul veszik, hogy a kötelezően és szabadon 

választhatóan megadható adatok tekintetében valós adatokat adnak meg. 

Kivétel ez alól a nicknév és az avatarkép, mivel ezek csak a Felhasználó 

egyedi megjelenését segítik, de a Felhasználóra nézve személyes 

információkat nem kell tartalmazzanak.

Az Adatkezelő és az Adatfeldolgozó a Felhasználók által megadott adatokért 

felelősséget nem tud vállalni, de fenntartja a jogot, hogy amennyiben 

tudomására jut, hogy a megadott adatok nem valósak, megtévesztőek, 

jogellenesek, vagy azokkal törvényt sértenek, illetve bűncselekményt követnek 

el, az adatokat megadó Felhasználó regisztrációját haladéktalanul törli.
</p>
<br>
<h4>
Adatbiztonság
</h4>
<p>
Az adatkezelő köteles az adatkezelési műveleteket úgy megtervezni és 

végrehajtani, hogy biztosítsa az érintettek magánszférájának védelmét.

Az adatkezelő, illetve tevékenységi körében az adatfeldolgozó köteles 

gondoskodni az adatok biztonságáról, köteles továbbá megtenni azokat a 

technikai és szervezési intézkedéseket és kialakítani azokat az eljárási 

szabályokat, amelyek az Info tv., valamint az egyéb adat- és titokvédelmi 

szabályok érvényre juttatásához szükségesek.

Az adatokat megfelelő intézkedésekkel védeni kell különösen a jogosulatlan 

hozzáférés, megváltoztatás, továbbítás, nyilvánosságra hozatal, törlés vagy 

megsemmisítés, valamint a véletlen megsemmisülés és sérülés, továbbá az 

alkalmazott technika megváltozásából fakadó hozzáférhetetlenné válás ellen.

A különböző nyilvántartásokban elektronikusan kezelt adatállományok 

védelme érdekében megfelelő technikai megoldással biztosítani kell, hogy a 

nyilvántartásokban tárolt adatok - kivéve ha azt törvény lehetővé teszi - 

közvetlenül ne legyenek összekapcsolhatók és az érintetthez rendelhetők.

A személyes adatok automatizált feldolgozása során az adatkezelő és az 

adatfeldolgozó további intézkedésekkel biztosítja
<br>
1. a jogosulatlan adatbevitel megakadályozását;
<br>
2. az automatikus adatfeldolgozó rendszerek jogosulatlan személyek általi, 

adatátviteli berendezés segítségével történő használatának 

megakadályozását;
<br>
3. annak ellenőrizhetőségét és megállapíthatóságát, hogy a személyes adatokat 

adatátviteli berendezés alkalmazásával mely szerveknek továbbították vagy 

továbbíthatják; 
<br>
4. annak ellenőrizhetőségét és megállapíthatóságát, hogy mely személyes 

adatokat, mikor és ki vitte be az automatikus adatfeldolgozó rendszerekbe;
<br>
5. a telepített rendszerek üzemzavar esetén történő helyreállíthatóságát és
<br>
6. azt, hogy az automatizált feldolgozás során fellépő hibákról jelentés készüljön.

Az adatkezelőnek és az adatfeldolgozónak az adatok biztonságát szolgáló 

intézkedések meghatározásakor és alkalmazásakor tekintettel kell lenni a 

technika mindenkori fejlettségére. Több lehetséges adatkezelési megoldás 

közül azt kell választani, amely a személyes adatok magasabb szintű 

védelmét biztosítja, kivéve, ha az aránytalan nehézséget jelentene az 

adatkezelőnek.
<br>
 
<h4>
Jogérvényesítési lehetőségek:
</h4>
<p>
A Felhasználó jogérvényesítési lehetőségeit az információs önrendelkezési 

jogról és az információszabadságról szóló 2011. évi CXII. törvény valamint a 
<br>
Ptk. alapján bíróság előtt gyakorolhatja, valamint kérheti a Nemzeti 
<br>
Adatvédelmi és Információszabadság Hatóság segítségét is:
<br>
Nemzeti Adatvédelmi és Információszabadság Hatóság
<br>
1125 Budapest, Szilágyi Erzsébet fasor 22/C.
<br>
Levelezési cím: 1530 Budapest, Postafiók: 5.
<br>
Telefon: +36 -1-391-1400
<br>
Fax: +36-1-391-1410
<br>
E-mail: ugyfelszolgalat@naih.hu

v.1.0_2015.01.25
</p>
</p>
	</div>
</div> 
</div>
</div>