<div class="row padding-top margin-bottom">
<div class="id-panel columns small-12">
<div class="card">
	<div class="id-panel-name" style="text-align: justify;">
		<h2>{{loc-x '/menu/terms'}}</h2>
<p>
A <b>bbsitter.hu</b> oldalhoz tartozó aldomain.<b>bbsitter.hu</b> címen elérhető oldalak 
használatával Ön elfogadja az alábbi feltételeket, tudnivalókat.
<br><br>
I. A <b>bbsitter.hu</b> oldalon történő bármely regisztráció során az 

adatszolgáltatás önkéntes. A személyes adatok tekintetében az Üzemeltető 

Domostatic Kft., mint adatkezelő, az Információs önrendelkezési jogról és 

az Információszabadságról szóló 2011. évi CXII. törvény előírásait betartva 

jár el. Az Üzemeltető a kezelt személyes adatokat az érintett kifejezett, 

írásbeli beleegyezése nélkül - jogszabályi kötelezettség hiányában - 

harmadik személyeknek nem adja át. 
<br><br>
II. A <b>bbsitter.hu</b>  oldal egyes részeinek letöltésekor az Ön számítógépén 

kisméretű, bizonyos esetben az Ön személyes adatait tartalmazó 

adatfileokat helyezünk el (cookie). Ennek megtörténtéről Ön nem kap 

további értesítést az Üzemeltetőtől. Az adatfileok a <b>bbsitter.hu</b> oldal egyes 

funkcióinak működéséhez szükségesek, látogatásai alkalmával a korábbi 

adatfileok az Üzemeltetőhöz kerülnek.  Ha kívánja, akkor az adatfileokkal 

kapcsolatos minden tevékenységet meggátolhat. Ennek pontos módjáról 

böngészőjének útmutatója igazítja el. 
<br><br>
III. Tekintettel arra, hogy az Internet nyílt, biztonságosnak nem tekinthető 

hálózat, az elektronikus formában továbbított üzenetek megsemmisülése, 

késedelmes megérkezése, egyéb hibája miatt beálló károk tekintetében az 

Üzemeltető minden kártérítési felelősséget kizár.
<br><br>
IV. A <b>bbsitter.hu</b>  és annak tartalma -a Felhasználók bejegyzései és az 

általuk feltöltött fájlok kivételével,- eltérő megjelölés hiányában az 

Üzemeltető és a Fejlesztő szellemi alkotásai. Az Üzemeltető illetve a 

Felhasználó által közzétett, harmadik személy által készített tartalom 

(például cikkek, tanulmányok) felhasználása kizárólag a 1999. évi LXXVI. 

törvény keretein belül szabad. Minden, e korlátokat átlépő felhasználáshoz 

az adott szerző hozzájárulása szükséges. 
<br><br>
V. Az oldal tartalma, a felhasználók bejegyzései, hirdetések tartalma 

semmilyen esetben nem minősül tanácsadásnak, állásfoglalásnak. A 

Felhasználók bejegyzései saját véleménynek tekintendők. A 

<b>bbsitter.hu</b> megjelenő ajánlatok, hirdetések, tájékoztatók tartalma 

tekintetében az Üzemeltető minden felelősséget kizár. 
<br><br>
VI. A <b>bbsitter.hu</b> található külső hivatkozások követésével letöltött tartalom 

nem áll az Üzemeltető befolyása alatt. Amennyiben azt az arra jogosult 

kéri, az oldalakon elhelyezett linke(ke)t az Üzemeltető törli vagy módosítja.
<br><br>
VII. A <b>bbsitter.hu</b>  letöltéséből vagy elérhetetlenségéből erdő bármilyen kár 

megtérítését Üzemeltető kizárja.
<br><br>
VIII. Üzemeltető fenntartja a jogot a hozzászólások ill. felhasználók által 

feltöltött tartalom előzetes értesítés, figyelmeztetés és indokolás nélküli 

törlésére, különösen abban az esetben, amennyiben az jogszabályt sért, 

vagy a jelen Felhasználási feltételekbe ütközik. Az Üzemeltető fenntartja a 

jogot felhasználók kitiltására, a regisztráció előzetes értesítés és indokolás 

nélküli megszüntetésére.

<br><br> 
<span id="t_30" class="subtitle">
Az üzemeltető: 
</span>
<b>Domostatic Bt.</b><br> 
<b>Elektronikus levelezési cím: </b>
info@bbsitter.com  
<br><b>
Cégjegyzékszám: 
</b>
01-06-747802 
<br><b>
Adószám: 
</b>
21169531-3-43 
<br><b>
Nyilvántartásban bejegyző hatóság neve: 
</b>
Fővárosi Bíróság Cégbírósága
<br><b>
Telefonszám: 
</b>
+36-204308879 
<br><b>
Adatvédelmi nyilvántartási szám: 
</b>
<br><br>
<a href="#" class="small button" {{action 'jumpToSignup'}}>{{loc-x '/menu/signup'}}</a>
</p>
	</div>
</div> 
</div>
</div>